@media ( max-width: 1439px ) {
  .awareness__socials_container {
    flex-wrap: wrap;
  }
  .hero {
    overflow: hidden;
  }

  .about__content {
    gap: 70px;
  }

  .about__list {
    gap: 32px;
  }
}

@media ( max-width: 1365px ) {
  .about {
    /* background: none; */
  }

  .about__list {
    grid-template-columns: repeat(2, 1fr);
  }

  .about__item {
    width: auto;
    padding-right: initial;
  }

  .footer__contact {
    margin-right: initial;
  }
}

@media ( max-width: 1199px ) {
  .about__list {
    grid-template-columns: repeat(1, 1fr);
  }

  .why__item:nth-child(1n) {
    width: 100%;
  }

  .logos {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }

  .footer__top {
    flex-wrap: wrap;
    gap: 32px;
  }

  .cookie__message {
    flex-wrap: wrap;
  }

}

@media ( max-width: 991px ) {
  .header__contact {
    display: none;
  }

  .header__burger {
    display: block;
  }

  .offset {
    padding-left: 32px;
    padding-right: 32px;
  }

  .hero {
    /* padding-bottom: 120%; */
    min-height: 350px;
    background-size: 40%;
  }

  .hero__head {
    /* width: auto; */
  }

  .head--main {
    font-size: 52px;
  }

  .head--second {
    font-size: 42px;
  }
  
  .head--third {
    font-size: 38px;
  }

  .hero__text {
    /* width: auto; */
    font-size: 16px;
  }

  .hero__container {
    padding-left: 32px;
  }

  .hero__content {
    padding: 0;
  }

  .about {
    background: none;
  }

  .about__content {
    flex-direction: column;
  }

  .about__list {
    grid-template-columns: repeat(1, 1fr);
  }

  .statistics__list {
    flex-direction: column;
    gap: 40px;
  }

  .statistics__item {
    display: flex;
    gap: 20px;
  }

  .statistics__head {
    margin-bottom: initial;
  }

  .why {
    padding-left: 32px;
    padding-right: 32px;
  }

  .why__head {
    width: auto;
  }

  .why__item {
    background-image: url("../media/svg/why_1_m.svg");
    background-position: bottom left;
  }

  .why__item:nth-child(2n) {
    background-image: url("../media/svg/why_2_m.svg");
  }

  .why__item:nth-child(4n) {
    background: #f5f5f5 url(../media/svg/why_4.svg) 92% bottom no-repeat;
    background-size: 19%;
  }

  .why__item:nth-child(1n) .why__container {
    padding: 20px 20px 60%;
  }

  .why__item:nth-child(2n) .why__container {
    padding: 20px 20px 130px;
  }

  .why__item:nth-child(3n) .why__container {
    padding: 20px 20px 130px;
  }

  .why__item:nth-child(4n) .why__container {
    padding: 20px 20px 240px;
  }

  .awareness__contact {
    padding: 40px 20px;
    margin-left: 32px;
    margin-right: 32px;
  }

  .awareness__contact_head {
    text-align: center;
  }

  .awareness__socials {
    width: 100%;
    justify-content: space-between;
  }

  .awareness__icon {
    width: 72px;
    height: 72px;
  }

  .awareness__icon:nth-child(2n) {
    margin-top: 73px;
  }

  .logos {
    display: flex;
    flex-wrap: wrap;
    gap: 22px 19px;
  }

  .logos__item img {
    height: 40px;
  }
  
  .logos__item:nth-child(2) {
    order: -1;
  }

  .logos__item:nth-child(3) {
    order: -2;
  }

  .footer__top {
    flex-direction: column;
    align-items: start;
  }

  .menu {
    display: none;
  }

  .menu--mobile {
    display: flex;
    gap: 16px;
  }

  .footer__buttons {
    flex-direction: column;
  }

  .footer__privacy {
    display: none;
  }

  .cookie {
    padding: 20px;
  }

  .cookie__message {
    padding: 30px 20px;
  }

  .cookie__buttons {
    flex-direction: column;
    width: 100%;
  }

  .cookie__button {
    width: 100%;
  }
}

@media ( max-width: 479px ) {
  .offset {
    padding-left: 16px;
    padding-right: 16px;
  }

  .header {
    margin-bottom: 65px;
  }

  .header__top {
    margin-bottom: 14px;
  }

  .header__list {
    padding: 0;
  }

  .burger {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .burger__show {
    height: 20px;
  }

  .hero__container {
    padding: 0;
  }

  .logo img {
    width: 42px;
  }

  .logo span {
    transform: translateX(-4px);
    font-weight: 600;
    font-size: 29px;
    line-height: 46%;
  }

  .head--main {
    font-size: 40px;
  }

  .head--second {
    font-size: 40px;
  }

  .head--third {
    font-size: 32px;
  }

  .hero {
    display: flex;
    flex-direction: column;
    gap: 124px;
  }

  .hero__head {
    margin-bottom: 20px;
  }

  .hero__text {
    width: auto;
    margin-bottom: 42px;
  }

  .hero__button {
    width: 100%;
  }

  .hero__media {
    display: flex;
    justify-content: end;
  }

  .about {
    padding-top: 36px;
    margin-bottom: 38px;
  }

  .about__content {
    gap: 43px;
  }

  .about__head {
    margin-bottom: 30px;
  }

  .about__text { 
    width: 285px;
    font-size: 24px;
    line-height: 120%;
  }

  .about__list {
    gap: 59px;
  }

  .about__item_text {
    width: 320px;
    font-size: 16px;
  }

  .about__item_head {
    margin-bottom: 16px;
  }

  .works {
    margin-bottom: 74px;
  }

  .works__image {
    width: 228px;
  }

  .running_lines {
    gap: 96px;
  }

  .running_lines__item {
    font-size: 48px;
  }

  .statistics__list {
    padding-right: 12px;
    padding-top: 40px;
    padding-bottom: 38px;
  }

  .statistics__item {
    width: 100%;
    align-items: center;
  }

  .statistics__head {
    font-size: 40px;
  }

  .statistics__info {
    font-size: 20px;
    width: auto;
  }

  .why {
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 80px;
    padding-bottom: 80px;
  }

  .why__head {
    transform: translateX(4px);
    margin-bottom: 38px;
  }

  .why__item {
    border-radius: 20px;
    min-height: initial;
  }

  .why__text {
    letter-spacing: -.1px;
    font-size: 24px;
    line-height: 120%;
    color: #fff;
  }

  .why__item:nth-child(1n) .why__container {
    padding: 17px 20px 198px;
  }

  .why__item:nth-child(2n) .why__container {
    padding: 20px 20px 128px;
  }

  .why__item:nth-child(3n) .why__container {
    padding: 20px 20px 109px;
  }

  .why__item:nth-child(4n) .why__container {
    padding: 20px 20px 189px;
  }

  .why__item:nth-child(4n) {
    background-position: 73% 111%;
    background-size: 42%;
}

  .why__item:nth-child(3n) .why__info {
    padding-right: 0;
  }

  .why__title {
    letter-spacing: 0;
    line-height: 115%;
    margin-bottom: 16px;
  }

  .why__info {
    font-size: 16px;
  }

  .awareness {
    padding-top: 40px;
    padding-bottom: 86px;
  }

  .awareness__socials_container {
    padding-right: 19px;
    margin-bottom: 68px;
  }

  .awareness__contact {
    margin-left: 16px;
    margin-right: 16px;
    margin-bottom: 39px;
    gap: 38px;
  }

  .awareness__button {
    width: 100%;
  }

  .awareness__text {
    width: auto;
  }

  .awareness__socials {
    padding: 20px 0 20px;
    gap: 20px;
  }

  .awareness__icon {
    width: 64px;
    height: 64px;
  }

  .awareness__icon:nth-child(2n) {
    margin-top: 65px;
  }

  .awareness__logos {
    padding-left: 20px;
    padding-right: 16px;
  }

  .logos {
    gap: 28px 40px;
  }

  .logos__item img {
    height: auto;
  }

  .footer {
    padding-top: 19px;
  }

  .footer__top {
    gap: 38px;
  }

  .menu--mobile {
    gap: 18px;
  }

  .footer__contact {
    margin-right: 20px;
    margin-bottom: 28px;
  }

  .footer__buttons {
    gap: 15px;
  }

  .horizontal_line {
    margin: 34px 0 12px;
  }

  .cookie__message {
    gap: 39px 120px;
  }

  .form {
    padding: 20px;
  }

  .form__container {
    padding: 20px 16px;
  }
  
  .form__button {
    width: 100%;
  }

  .form__cross {
    top: 10px;
  }

  .form__error {
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .form__input[name="phone"] {
    padding-left: 47px;
  }

  .thank {
    padding: 20px;
  }

  .thank__content {
    padding: 40px 20px;
  }

  .thank__image {
    width: 229px;
  }

  .thank__head {
    font-size: 24px;
    line-height: 120%;
  }

  .thank__text {
    font-size: 20px;
  }

  .thank__button {
    width: 255px;
  }

  .thank__cross {
    right: 15px;
  }
}