@media ( max-width: 1439px ) {
  .awareness__socials_container {
    flex-wrap: wrap;
  }
  .hero {
    overflow: hidden;
  }

  .about__content {
    gap: 70px;
  }

  .about__list {
    gap: 32px;
  }
}

@media ( max-width: 1365px ) {
  .about {
    /* background: none; */
  }

  .about__list {
    grid-template-columns: repeat(2, 1fr);
  }

  .about__item {
    width: auto;
    padding-right: initial;
  }

  .footer__contact {
    margin-right: initial;
  }
}

@media ( max-width: 1199px ) {
  .about__list {
    grid-template-columns: repeat(1, 1fr);
  }

  .why__item:nth-child(1n) {
    width: 100%;
  }

  .logos {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }

  .footer__top {
    flex-wrap: wrap;
    gap: 32px;
  }

  .cookie__message {
    flex-wrap: wrap;
  }

}

@media ( max-width: 991px ) {
  .header__contact {
    display: none;
  }

  .header__burger {
    display: block;
  }

  .offset {
    padding-left: 32px;
    padding-right: 32px;
  }

  .hero {
    /* padding-bottom: 120%; */
    min-height: 350px;
    background-size: 40%;
  }

  .hero__head {
    /* width: auto; */
  }

  .head-main {
    font-size: 52px;
  }

  .head-second {
    font-size: 42px;
  }
  
  .head-third {
    font-size: 38px;
  }

  .hero__text {
    /* width: auto; */
    font-size: 16px;
  }

  .hero__container {
    padding-left: 32px;
  }

  .hero__content {
    padding: 0;
  }

  .about {
    background: none;
  }

  .about__content {
    flex-direction: column;
  }

  .about__list {
    grid-template-columns: repeat(1, 1fr);
  }

  .statistics__list {
    flex-direction: column;
    gap: 40px;
  }

  .statistics__item {
    display: flex;
    gap: 20px;
  }

  .statistics__head {
    margin-bottom: initial;
  }

  .why {
    padding-left: 32px;
    padding-right: 32px;
  }

  .why__head {
    width: auto;
  }

  .why__item {
    background-image: url("../media/svg/why_1_m.svg");
    background-position: bottom left;
  }

  .why__item:nth-child(2n) {
    background-image: url("../media/svg/why_2_m.svg");
  }

  .why__item:nth-child(4n) {
    background: #f5f5f5 url(../media/svg/why_4.svg) 92% bottom no-repeat;
    background-size: 40%;
  }

  .why__item:nth-child(1n) .why__container {
    padding: 20px 20px 60%;
  }

  .awareness__contact {
    padding: 40px 20px;
    margin-left: 32px;
    margin-right: 32px;
  }

  .awareness__contact_head {
    text-align: center;
  }

  .awareness__socials {
    width: 100%;
    justify-content: space-between;
  }

  .awareness__icon {
    width: 72px;
    height: 72px;
  }

  .awareness__icon:nth-child(2n) {
    margin-top: 73px;
  }

  .logos {
    display: flex;
    flex-wrap: wrap;
    gap: 22px 19px;
  }

  .logos__item img {
    height: 40px;
  }
  
  .logos__item:nth-child(2) {
    order: -1;
  }

  .logos__item:nth-child(3) {
    order: -2;
  }

  .footer__top {
    flex-direction: column;
    align-items: start;
  }

  .footer__menu {
    display: none;
  }

  .footer__menu-mobile {
    display: flex;
    gap: 16px;
  }

  .footer__buttons {
    flex-direction: column;
  }

  .footer__privacy {
    display: none;
  }

  .cookie {
    padding: 20px;
  }

  .cookie__message {
    padding: 30px 20px;
  }

  .cookie__buttons {
    flex-direction: column;
    width: 100%;
  }

  .cookie__button {
    width: 100%;
  }
}

@media ( max-width: 479px ) {

}