@import url("./variables.css");
@import url("../media/fonts/Outfit/style.css");

*, ::before, ::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;

  font-family: 'Outfit', sans-serif;
}

img {
  max-width: 100%;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  background: var(--color_grayscale_1);
  color: var(--color_grayscale_7);
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;

  min-width: 182px;
  min-height: 57px;
  border: 0;
  border-radius: 16px;

  background: var(--color_primary_1);

  font-weight: 600;
  font-size: 20px;
  color: #fff;
  outline: none;
  cursor: pointer;

  transition: .2s background, .1s border, .2s color;
}

.button:hover {
  background: var(--color_grayscale_1);
}

.button-dark_bg {
  border: 2px solid var(--color_primary_1);
}

.button:focus {
  border: 4px solid var(--color_primary_3);
  background: var(--color_primary_1);
}

.button:active {
  background: var(--color_primary_0);
  border: 0;
}

.button.button-disabled {
  background: var(--color_grayscale_3);
  pointer-events: none;
}

.button-secondary {
  color: var(--color_grayscale_7);
  background: var(--color_grayscale_7);
  border: 2px solid var(--color_primary_1);
}

.button.button-secondary.cookie__button {
  color: var(--color_grayscale_0);
}

.button-secondary:hover {
  background: var(--color_primary_4);
  border: 2px solid var(--color_primary_1);
}

.button-secondary:focus {
  border: 2px solid #954ced;
  background: none;
}

.button-secondary:active {
  border: 2px solid #a64ced;
  background: none;
}

.button.button-secondary.button-disabled {
  border: 2px solid #b9b9b9;
  background: none;
}

.offset {
  padding-left: 60px;
  padding-right: 60px;
}

.markup {
  position: relative;
  display: inline-block;
}

.markup::before {
  position: absolute;
  content: '';
  left: -6px;
  top: 10px;
  width: 106%;
  height: 80%;
  border-radius: 30px;
  background: var(--color_primary_2);
  transform: rotate(-1.5deg);
  z-index: -1;
}

.container {
  max-width: var(--screen);
}

.m_auto {
  margin: 0 auto;
}

.logo {
  display: flex;
  align-items: center;

  img {
    /* --- */
  }

  span {
    transform: translateX(-5px);
    font-weight: 600;
    font-size: 37px;
    line-height: 46%;
    text-transform: lowercase;
  }

}

.head {
  font-weight: 700;
  line-height: 106%;
  margin: 0;
}

.head-main {
  font-size: 96px;
}

.head-second {
  font-size: 64px;
}

.head-third {
  font-size: 48px;
}

.header {
  margin-bottom: 68px;
}

.header__top {
  height: 38px;
  display: flex;
  align-items: center;
  margin-bottom: 8px;

  background: var(--color_secondary_2);
}

.header__list {
  width: var(--screen);
  display: flex;
  align-items: center;
  height: 100%;
  gap: 8px;
}

.header__item {
  overflow: hidden;
  border-radius: 20px 20px 0 0;
}

.header__link {
  display: flex;
  align-items: center;
  justify-content: center;
  
  width: 168px;
  height: 38px;
  background: none;
  color: var(--color_grayscale_1);
  font-weight: 500;
  font-size: 16px;

  transition: .2s background, .2s color;
}

.header__link:hover {
  background: var(--color_grayscale_1);
  color: var(--color_grayscale_7);
}

.header__link-active {
  background: var(--color_grayscale_1);
  color: var(--color_grayscale_7);
}

.header__bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__contact {

}

.header__burger {
  display: none;
}

.burger {
  width: 24px;
  height: 24px;
}

.burger__show {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 24px;
  height: 24px;
  border: 0;
  background: none;
  cursor: pointer;
}

.burger__show:hover .burger__line {
  background: var(--color_grayscale_3);
}

.burger__show .burger__line {
  width: 100%;
  height: 2px;
  border-radius: 8px;
  background: var(--color_grayscale_7);
  transition: .2s background;
}

@keyframes show {
  0% {
    opacity: .9;
  }

  100% {
    opacity: 1;
  }
}

.burger__content {
  position: fixed;
  z-index: 5;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 40% 16px 32px;
  background: var(--color_grayscale_1);
  animation: show .2s linear;
}

.burger__content.burger__content-hide {
  display: none;
}

.burger__close {
  position: absolute;
  right: 30px;
  top: 30px;
  width: 24px;
  height: 24px;
  background: none;
  border: 0;
  cursor: pointer;
}

.burger__close::before {
  position: absolute;
  content: '';
  width: 100%;
  height: 2px;
  background: var(--color_grayscale_7);
  transform: rotate(45deg);
}

.burger__close::after {
  position: absolute;
  content: '';
  width: 100%;
  height: 2px;
  background: var(--color_grayscale_7);
  transform: rotate(-45deg);
}

.burger__contact {
  width: 100%;
  margin-bottom: 177px;
}

.hero {
  /* padding-top: 13px; */
  min-height: 520px;
  display: flex;
  /* background: url("../media/png/hero_media.png") right bottom no-repeat; */
}

.hero__container {
  padding-top: 21px;
  padding-left: 60px;
}

.hero__media {
  flex-shrink: 0;
}

.hero__content {
  /* width: 45%; */
  padding-left: 49px;
}

.hero__head {
  /* width: 50%; */
  letter-spacing: .1px;
  margin-bottom: 18px;
}

.hero__text {
  width: 80%;
  font-weight: 400;
  font-size: 20px;
  line-height: 120%;
  margin-bottom: 39px;
}

.about {
  padding-top: 96px;
  padding-bottom: 36px;
  margin-bottom: 100px;
  background: url("../media/svg/about_logo.svg") left bottom no-repeat;
}

.about__head {
  display: block;
  margin: 0 auto 78px;
  /* margin-bottom: 78px; */
}

.about__content {
  display: flex;
  gap: 129px;
}

.about__text {
  width: 400px;
  flex-shrink: 0;
  font-weight: 600;
  font-size: 36px;
  line-height: 125%;
}

.about__list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 70px 0;
}

.about__item {
  width: 391px;
  padding-right: 52px;
}

.about__item_head {
  margin-bottom: 17px;
}

.about__image {
  margin-bottom: 8px;
}

.about__item_text {
  width: 100%;
  font-weight: 400;
  font-size: 24px;
  line-height: 124%;
}

.works {
  position: relative;
  padding-top: 5px;
  padding-bottom: 2px;
  margin-bottom: 101px;
  display: flex;
  align-items: center;
  justify-content: center;
}

@keyframes logoScroller {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);
  }
}

@keyframes logoScrollerReverse {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0%);
  }
}

.running_lines {
  max-width: 2163px;
  z-index: -1;
  display: flex;
  position: absolute;
  width: 100%;
  height: 100%;
  justify-content: center;
  flex-direction: column;
  gap: 68px;
}

.running_lines__item {
  overflow: hidden;
  width: 100%;
  display: flex;
  /* grid-template-columns: repeat(2, 1fr); */
  font-weight: 700;
  font-size: 128px;
  line-height: 106%;
  color: var(--color_secondary_1);
}

.running_lines__item:nth-child(2n) .running_lines__container {
  animation: logoScroller 15s linear infinite;
}

.running_lines__container {
  animation: logoScrollerReverse 33s linear infinite;
  display: flex;
  justify-content: center;
  gap: 24px;
}

.running_lines__color {
  white-space: nowrap;
  width: 100%;
}

.running_lines__transparent {
  width: 100%;
  color: var(--color_grayscale_1);
  white-space: nowrap;
  text-shadow: -1px 0 var(--color_grayscale_2), 0 1px var(--color_grayscale_2), 1px 0 var(--color_grayscale_2), 0 -1px var(--color_grayscale_2);
}


.running_lines__item:nth-child(2n) .running_lines__color {
  color: var(--color_primary_2);
}

.running_lines__item:nth-child(3n) .running_lines__color {
  color: var(--color_secondary_2);
}

.statistics {
  background: var(--color_primary_1);
}

.statistics__list {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 42px 100px 40px;
  gap: 100px;
}

.statistics__head {
  margin-bottom: 16px;
}

.statistics__info {
  font-weight: 600;
  font-size: 24px;
  line-height: 120%;
  width: 217px;
}

.why {
  padding-top: 100px;
  padding-left: 70px;
  padding-right: 70px;
  padding-bottom: 100px;
}

.why__head {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 22px;
  width: 53%;
  margin-bottom: 68px;
  text-align: center;
}

.why__text {
  font-weight: 600;
  font-size: 36px;
  line-height: 125%;
  text-align: center;
}

.why__list {
  display: flex;
  flex-wrap: wrap;
  --gap: 20px;
  gap: var(--gap);
}

.why__item {
  --width: 57%;
  overflow: hidden;
  min-height: 362px;
  /* padding: 40px; */
  border-radius: 30px;
  background: var(--color_grayscale_6) url("../media/svg/why_1.svg") left center no-repeat;
  background-size: contain;
  color: var(--color_grayscale_0);
  width: calc(var(--width) - var(--gap)/2);
}

.why__info {
  font-weight: 400;
  font-size: 20px;
  line-height: 120%;
  padding-right: 2px;
}

.why__item:nth-child(2n) {
  width: calc(100% - var(--width) - var(--gap)/2);
  background: var(--color_grayscale_6) url("../media/svg/why_2.svg") right bottom no-repeat;
  
  .why__container {
    padding: 40px;
  }

  .why__info {
    padding-right: 36px;
  }
}

.why__item:nth-child(3n) {
  width: calc(100% - var(--width) - var(--gap)/2);
  background: var(--color_grayscale_6) url("../media/svg/why_3.svg") right bottom no-repeat;

  .why__container {
    padding: 40px;
  }

  .why__info {
    padding-right: 140px;
  }
}

.why__item:nth-child(4n) {
  width: calc(var(--width) - var(--gap)/2);
  background: var(--color_grayscale_6) url("../media/svg/why_4.svg") 92% bottom no-repeat;

  .why__container {
    padding: 40px 291px 40px 40px;
  }

  .why__info {
    padding-right: 0;
  }
}

.why__container {
  padding-top: 40px;
  padding-bottom: 40px;
  padding-right: 40px;
  padding-left: 330px;
}

.why__title {
  line-height: 125%;
  margin-bottom: 22px;
  letter-spacing: -.4px;
}

.awareness {
  padding-top: 100px;
  padding-bottom: 97px;
  background: var(--color_grayscale_6);
  color: var(--color_grayscale_0);
}

.awareness__contact {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 40px;
  padding-top: 60px;
  padding-bottom: 58px;
  margin-left: 60px;
  margin-right: 60px;
  margin-bottom: 100px;
  border: 1px solid var(--color_grayscale_4);
  border-radius: 60px;
}

.awareness__contact_head {
  letter-spacing: 0.55px;
}

.awareness__socials_container {
  display: flex;
  padding-right: 45px;
  margin-bottom: 98.5px;
}

.awareness__content {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.awareness__head {
  display: flex;
}

.awareness__text {
  font-weight: 400;
  font-size: 20px;
  line-height: 120%;
  width: 62%;
}

.awareness__socials {
  display: flex;
  padding: 45px 0 47px;
  flex-shrink: 0;
  gap: 40px;
}

.awareness__icon {
  width: 90px;
  height: 90px;
}

.awareness__icon:nth-child(2n) {
  margin-top: auto;
}

.awareness__logos {
  padding-left: 50px;
  padding-right: 50px;
}

.logos {
  display: flex;
  align-items: center;
  gap: 90px;
}

.logos__item {

}

.footer {
  padding-top: 40px;
  padding-bottom: 21px;
}

.footer__top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer__menu {
  display: flex;
  gap: 35px;
}

.footer__menu-mobile {
  display: none;
  flex-direction: column;
}

.footer__item {
  font-weight: 500;
  font-size: 20px;
}

.footer__link {
  transition: .2 opacity;
}

.footer__link:hover {
  opacity: .8;
}

.footer__buttons {
  display: flex;
  gap: 20px;
}

.footer__contact {
  margin-right: 20px;
}

.download_button {
  border: 0;
  background: none;
}

.horizontal_line {
  border: 2px solid #444;
  height: 0px;
  width: 100%;
  margin: 24px 0 20px;
}

.footer__bottom {
  display: flex;
  justify-content: space-between;
}

.footer__copyright {
  font-weight: 300;
  font-size: 14px;
  line-height: 140%;
  color: var(--color_grayscale_3);
}

.footer__privacy {
  display: flex;
  gap: 20px;
}

.footer__privacy_item {
  font-weight: 300;
  font-size: 14px;
  line-height: 140%;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: var(--color_grayscale_3);
}

.cross {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  background: none;
  right: 19px;
  top: 19px;
  flex-shrink: 0;
  width: 20px;
  height: 20px;
  border: 0;
}

.cookie {
  position: fixed;
  width: 100%;
  bottom: 0;
  padding: 30px 65px 30px 90px;
}

.cookie__message {
  position: relative;
  display: flex;
  align-items: center;
  gap:  30px 120px;
  padding: 30px 60px 30px 30px;
  background: var(--color_grayscale_7);
  border-radius: 16px;
  box-shadow: -10px -5px 30px 0 rgba(141, 141, 141, 0.1);
}



.cookie__text {
  font-weight: 300;
  font-size: 20px;
  line-height: 140%;
  color: #383838;
}

.cookie__buttons {
  display: flex;
  gap: 20px;
}

.cookie__button {
  min-width: 128px;
}

.form {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #18181859;
}

.form__container {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 40px;
  gap: 10px;
  background: var(--color_grayscale_7);
  border-radius: 20px;
  width: 100%;
  max-width: 417px;
}

.form__label {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.form__label.form__label-error .form__input {
  border: 1px solid #ec1211;
}

.form__label.form__label-error .form__input_error {
  display: block;
}

.form__span {
  font-weight: 500;
  font-size: 14px;
  line-height: 157%;
  color: #070707;
}

.form__span.form__span-required {
  position: relative;
}

.form__span.form__span-required::after {
  content: '*';
  margin-left: 3px;
  color: var(--color_additional_1);
}

.form__input {
  padding: 10px 16px;
  border: 1px solid #f1f1f1;
  border-radius: 14px;
  background: var(--color_grayscale_7);
  color: #a7a7a7;
}

.form__input_error {
  display: none;
  font-weight: 400;
  font-size: 12px;
  line-height: 167%;
  color: #ec1211;
}

.form__input[type="number"]::-webkit-outer-spin-button,
.form__input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.form__input[name="phone"] {
  padding-left: 42px;
  background: url("../media/svg/russian-federation.svg") 16px center no-repeat;
}

.form__text {
  font-weight: 300;
  font-size: 14px;
  line-height: 140%;
  color: var(--color_grayscale_0);
  margin: 20px 0;
}

.form__text a {
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: var(--color_primary_1);
}

.form__button {
  width: 50%;
}

.form__error {
  display: none;
  font-weight: 400;
  font-size: 16px;
  color: #ec1211;
  margin-top: 20px;
}

.form__error-show {
  display: block;
}

.d-none {
  display: none;
}